/*style.css*/


.close {text-align: center;
    font-size: 300%;
    }
.open {font:  bold;
  font-family: 'Ubuntu Mono', monospace;
     position: inherit;
    text-indent: 50px;
        font-size: 28px;
    }
body {background-color: cornflowerblue;
    color: aliceblue
}
footer {color: aliceblue;
        font-family: 'Ubuntu', sans-serif;
        text-align: center;
        }
.title {color: aliceblue;
        font-family: 'Ubuntu',   sans-serif;
    text-align: center;
    font-size: 48px;
    
        }

.article {color: aliceblue;
      font-family: 'Ubuntu', sans-serif;
    text-align:inherit right;
    font-size: 18px;
}


iframe { text-align: center
}

date {font-family: 'Ubuntu Mono', monospace;
    font-size: 18px}